.mode_author{
    position: absolute;
    left: 0;
    top: 40px;
    width: 800px;
    height: 340px;
    background:rgba(214,213,214,1);
    z-index: -999
}
.bg_qrcode{
    position: absolute;
    left: 18px;
    top: 120px;
    width:161px;
    height:161px;
    background:rgba(255,255,255,1);
    border-radius:5px;
}
.author_tip{
    position: absolute;
    left: 191px;
    top: 10px;
    width:418px;
    height:28px;
    font-size:28px;
    font-family:arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:36px;
}
.author_radio{
    position: absolute;
    top: 57px;
    width:26px;
    height:26px;
    background:rgba(255,255,255,0);
    border:2px solid rgba(119, 119, 119, 1);
    /*border:2px solid rgba(51, 51, 51, 1);*/
    border-radius:50%;
}
.author_radio_black{
    position: absolute;
    left: 2px;
    top: 2px;
    width:22px;
    height:22px;
    background:rgba(51,51,51,1);
    border-radius: 50%;
}
#author_radio_1{
    left: 307px;
}
#author_radio_2{
    left: 370px;
}
#author_radio_3{
    left: 432px;
}
#author_radio_4{
    left: 495px;
}
#author_radio_5{
    left: 557px;
}
#author_radio_6{
    left: 629px;
}
.author_button{
    outline: none;
    margin: 0;
    border: 0;
    padding: 0;
    position: absolute;
    top: 109px;
    width: 90px;
    height: 90px;
    font-size:38px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(0,0,0,1);
    line-height:38px;
    background:linear-gradient(180deg,rgba(255,255,255,1),rgba(224,224,224,1));
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px rgba(95, 94, 94, 0.8);
}
#author_button_0{
    left: 192px;
}
#author_button_1{
    left: 288px;
}
#author_button_2{
    left: 384px;
}
#author_button_3{
    left: 480px;
}
#author_button_4{
    left: 576px;
}
#author_button_back{
    left: 672px;
}
#author_button_5{
    left: 192px;
    top: 205px;
}
#author_button_6{
    left: 288px;
    top: 205px;
}
#author_button_7{
    left: 384px;
    top: 205px;
}
#author_button_8{
    left: 480px;
    top: 205px;
}
#author_button_9{
    left: 576px;
    top: 205px;
}
#author_button_del{
    left: 672px;
    top: 205px;
    font-size: 32px;
}

.author_button:active{
    background:linear-gradient(90deg,rgba(131,192,249,1),rgba(92,140,219,1));
    box-shadow: 0px 0px 5px 0px rgba(184, 229, 255, 0.84) inset;
}

.bg_qrcode img{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 155px;
    height: 155px;
}
