.mode_check{
    position: absolute;
    left: 0;
    top: 40px;
    width: 800px;
    height: 340px;
    background:rgba(214,213,214,1);
    z-index: -999
}
.mode_check_progress{
    position: absolute;
    left: 210px;
    top: 174px;
    margin: 0;
    padding: 0;
}
#mode_check_progress{
    position: absolute;
    left: 3px;
    top: 4px;
    width: 85%;
    height: 34px;
    /*z-index: 2;*/
}
.mode_check_span{
    margin: 0;
    padding: 0;
    height:24px;
    font-size:24px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:36px;
}
#mode_check_total{
    position: absolute;
    left: 215px;
    top: 237px;
    width: auto;
}

#mode_check_sub{
    position: absolute;
    left: 480px;
    top: 237px;
    width: 101px;
    text-align: right;
}
#mode_check_result{
    position: absolute;
    left: 480px;
    top: 277px;
    width: 101px;
    text-align: right;
}
