a{
    margin: 0;
    padding: 0;
    width:57px;
    height:28px;
    font-size:28px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(0,0,0,1);
    line-height:36px;
    position: absolute;
    top: 70px;
}
.mode_mt{
    position: absolute;
    left: 0;
    top: 40px;
    width: 800px;
    height: 340px;
    background:rgba(214,213,214,1);
}
.mode_mt_brush{
    left: 163px;
}
.mode_mt_water{
    left: 413px;
}
.mode_mt_direction{
    left: 615px;
}
.switch-wrap{
    height: 90px;
    width: 190px;
    position: absolute;
    left: 97px;
    top: 125px;
}
.switch-wrap input[type=checkbox]{
    /*height: 200px;*/
    /*width: 100px;*/
    /*position: absolute;*/
    /*left: 97px;*/
    /*top: 125px;*/
    visibility: hidden;
    margin:0;
    padding:0;
}
.switch-wrap .open,.switch-wrap .close{
    position: absolute;
    left: 115px;
    top: 20px;
    width:38px;
    height:38px;
    font-size:38px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(107,119,131,1);
    line-height:49px;
}
.switch-wrap .open{
    left: 28px;
    color: rgba(34, 52, 69, 1);
}

.switch-wrap label{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width:190px;
    height:90px;
    color: rgba(206,206,206,1);
    background:linear-gradient(90deg,rgba(219,219,219,1),rgba(163,163,163,1));
    border-image:linear-gradient(0deg, rgba(255,255,255,1), rgba(158,158,158,1)) 2 2;
    border-radius:45px;
    border: 2px solid;
    box-shadow: inset 0px 11px 29px 0px rgba(0, 0, 0, 0.29);
}
.switch-wrap label::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    transition: transform 0.5s;
    width:84px;
    height:84px;
    background:linear-gradient(0deg,rgba(255,255,255,1),rgba(200,200,200,1));
    box-shadow:0px 0px 6px 0px rgba(120,120,120,0.8);
    border-radius:50%;
    z-index: 2;
}
.switch-wrap::after{
    /*position: absolute;*/
    /*top: -4px; bottom: -4px;*/
    /*left: -4px; right: -4px;*/
    background: linear-gradient(red, blue);
    content: '';
    z-index: -1;
    border-radius: 16px;
}
.switch-wrap input:checked + label {
    /*background: #33DB70;*/
    background:linear-gradient(90deg,rgba(128,189,245,1),rgba(59,115,171,1));
    /*border-image:linear-gradient(0deg, rgba(255,255,255,1), rgba(158,158,158,1)) 2 2;*/
    /*border:2px solid;*/
}
.switch-wrap input:checked + label:before {
    /*top: 3px;*/
    transform: translateX(100px);
}